@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    src: local('Outfit-Regular'), url('./fonts/Outfit-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    src: local('Outfit-Bold'), url('./fonts/Outfit-SemiBold.ttf') format('ttf');
}

